<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-Burger</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="title">
        <h1>Eat-Da-Burger!</h1>
        <img src="assets/img/burger-svgrepo-com.svg">
    </div>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>