* {
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #333;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both'
}

.burger-column {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
}

.title {
    height: 200px;
    text-align: center;
}

.title img {
    width: 125px;
    height: 125px;
}

.burger-list {
    list-style-type: none;
}

.burger {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ccc;
    color: #111;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}

.burger-button {
    border-radius: 4px;
    background-color: #008000;
    border: 1px solid #007700;
    padding: 7px 5px;
    float: right;
    font-weight: 700;
}

.burger-button:active {
    background-color: #007700;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.burger-form {
    text-align: center;
}

.burger-form textarea {
    width: 300px;
    height: 50px;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.burger-form .burger-button {
    float: none;
    display: block;
    margin: 10px auto;
}